.carousel-item img {
    /* vh = view height */
    height: 100vh;
}

.bg-dark-transparant {
    background: rgba(0, 0, 0, .7);
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 60vh;
    }
}